Repository mash-up-kr/gabbangzip-spring, pull requests merged in 2024-08, with the labels that each got.

#51 feat: Create image option uploading
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/EventApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/dto/CreateEventServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/dto/UploadImageServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/EventController.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/UploadImageRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/UploadImageResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/VoteService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOptionRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
Labels: feature

#52 feat: Create getting event options
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/VoteController.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/VoteService.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/dto/VoteOptionsRequest.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOptionDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteService.kt
Labels: feature

#53 feat: listening expired event and update eventStatus
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventRedisRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/redis/RedisMessageListener.kt
Labels: feature

#54 feat: Voting process
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/dto/VoteServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/VoteController.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/dto/VoteRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/dto/VoteResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteService.kt
Labels: feature

#57 feat: Group Detail view with id
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupDetailResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/util/GroupViewStatusUtil.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
Labels: feature

#58 refactor: Update checking status process (counting -> status property)
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/EventApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventJoin.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/UploadService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteService.kt
Labels: refactor

#59 feat: Implement process related with Result
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOptionRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/ResultRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/ResultService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteRepository.kt
Labels: feature

#60 feat: Create visiting process
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/EventApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/dto/MarkEventVisitedServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/EventController.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/MarkEventVisitedRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/MarkEventVisitedResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
Labels: feature

#61 feat: Push alarm process
  pic-api/src/main/kotlin/com/mashup/pic/alarm/applicationservice/AlarmApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/applicationservice/dto/KookResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/applicationservice/dto/KookServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/controller/AlarmController.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/controller/dto/KookRequest.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/Alarm.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmMessageDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmMessageGenerator.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmType.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/Type.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
Labels: feature

#64 feat: Add properties for voting response
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/controller/dto/VoteResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOptionRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/vote/VoteService.kt
Labels: feature

#65 feat: List of group members
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/GroupMemberResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
Labels: feature

#68 chore: typo (registed->register)
  pic-api/src/main/kotlin/com/mashup/pic/alarm/controller/dto/RegisterTokenResponse.kt
Labels: fix

#69 fix: Add auto result creating
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/util/InviteCodeUtil.kt
  pic-api/src/test/kotlin/com/mashup/pic/group/generator/InviteCodeUtilTest.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/redis/RedisMessageListener.kt
Labels: fix

#70 fix: Update generated text logic
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/EventController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/util/GroupViewStatusUtil.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/redis/RedisMessageListener.kt
Labels: fix

#71 fix: Fix index error
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/UploadImageRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
Labels: fix

#72 feat: Add checking event on going
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/EventApplicationService.kt
Labels: fix

#73 feat: Add generating condition
  pic-api/src/main/kotlin/com/mashup/pic/vote/applicationservice/VoteApplicationService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/redis/RedisMessageListener.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/ResultRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/ResultService.kt
Labels: fix
