Repository mash-up-kr/gabbangzip-spring, pull requests merged in 2024-07, with the labels that each got.

#36 fix: Update group view properties
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupViewController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupDetailResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/Frame.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/Result.kt
Labels: fix

#28 feat: Implement FcmService
  gradle.properties
  pic-api/src/main/resources/application.yaml
  pic-external/build.gradle.kts
  pic-external/src/main/kotlin/com/mashup/pic/external/config/FcmConfig.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/fcm/FcmService.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/fcm/FcmServiceImpl.kt
  pic-external/src/main/resources/application-external.yaml
  pic-external/src/main/resources/firebase/pic-firebase-admin-sdk.json
Labels: feature

#35 refacotr: Update ObjectMapper options
  pic-api/src/main/kotlin/com/mashup/pic/config/JacksonConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SwaggerConfig.kt
Labels: refactor

#38 Feature/file response
  pic-api/src/main/kotlin/com/mashup/pic/file/applicationservice/FileApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/file/controller/FileController.kt
  pic-api/src/main/kotlin/com/mashup/pic/file/controller/dto/UploadUrlResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/aws/s3/S3Service.kt
Labels: feature

#37 Fix jackson config
  pic-api/src/main/kotlin/com/mashup/pic/config/JacksonConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SwaggerConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/jackson/PicObjectMapperBuilderCustomizer.kt
Labels: feature, fix

#39 feat: Implement creating group api
  pic-api/build.gradle.kts
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/AuthApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/common/ApiExceptionHandler.kt
  pic-api/src/main/kotlin/com/mashup/pic/file/applicationservice/FileApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/dto/GroupResponseDto.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/dto/GroupServiceRequestDto.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/GroupRequestDto.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupDetailResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/KakaoIdTokenValidator.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/applicationService/UserApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/UserPageController.kt
  pic-api/src/main/resources/application-test.yaml
  pic-api/src/main/resources/application.yaml
  pic-api/src/test/kotlin/com/mashup/pic/ApplicationServiceTestSupport.kt
  pic-api/src/test/kotlin/com/mashup/pic/ControllerTestSupport.kt
  pic-api/src/test/kotlin/com/mashup/pic/fake/FakeFcmService.kt
  pic-api/src/test/kotlin/com/mashup/pic/fake/FakeFileUploader.kt
  pic-api/src/test/kotlin/com/mashup/pic/fake/FakeIdTokenValidator.kt
  pic-api/src/test/kotlin/com/mashup/pic/fake/FakeJwksClient.kt
  pic-api/src/test/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationServiceTest.kt
  pic-api/src/test/kotlin/com/mashup/pic/group/controller/GroupControllerTest.kt
  pic-api/src/test/kotlin/com/mashup/pic/security/CustomSecurityContextFactory.kt
  pic-api/src/test/kotlin/com/mashup/pic/security/WithCustomUser.kt
  pic-domain/build.gradle.kts
  pic-domain/src/main/kotlin/com/mashup/pic/domain/config/RedisConfig.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Group.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupJoinRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupKeyword.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Keyword.kt
  pic-domain/src/main/resources/application-domain-test.yaml
  pic-domain/src/main/resources/application-domain.yaml
  pic-domain/src/test/kotlin/com/mashup/pic/domain/IntegrationTestSupport.kt
  pic-domain/src/test/kotlin/com/mashup/pic/domain/PicApplicationTests.kt
  pic-domain/src/test/kotlin/com/mashup/pic/domain/group/GroupServiceTest.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/aws/s3/FileUploader.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/aws/s3/S3Service.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/common/JwksClient.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/config/AwsConfig.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/config/FcmConfig.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/config/S3Config.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/fcm/FcmServiceImpl.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoClient.kt
  pic-external/src/main/resources/application-external.yaml
Labels: feature

#40 feat: 레디스 이벤트 리스너 구현
  .github/workflows/pr.yaml
  pic-domain/src/main/kotlin/com/mashup/pic/domain/config/RedisConfig.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/config/RedisMessageListenerConfig.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/redis/RedisMessageListener.kt
Labels: feature

#42 fix: Pass keyspace notification config parameter empty string
  pic-domain/src/main/kotlin/com/mashup/pic/domain/config/RedisMessageListenerConfig.kt
Labels: feature

#43 feat: Add invitation code generator
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/dto/GroupResponseDto.kt
  pic-api/src/main/kotlin/com/mashup/pic/util/InviteCodeGenerator.kt
  pic-api/src/test/kotlin/com/mashup/pic/group/generator/InviteCodeGeneratorTest.kt
Labels: feature

#44 feat: Create event
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/EventApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/applicationService/dto/CreateEventServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/EventController.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/CreateEventRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/dto/CreateEventResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/dto/CreateEventResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/Event.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventJoin.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventJoinRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Group.kt
Labels: feature

#45 feat: Join with invitation code
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/dto/JoinGroupServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/JoinGroupRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/JoinGroupResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/util/InviteCodeUtil.kt
  pic-api/src/test/kotlin/com/mashup/pic/group/generator/InviteCodeUtilTest.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupJoinRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
Labels: feature

#46 feat: Register alarm token
  pic-api/src/main/kotlin/com/mashup/pic/alarm/applicationservice/AlarmApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/applicationservice/dto/RegisterTokenServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/controller/AlarmController.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/controller/dto/RegisterTokenRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/alarm/controller/dto/RegisterTokenResponse.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmToken.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/alarm/AlarmTokenRepository.kt
Labels: feature

#47 refactor: Remove Entity object Mapping
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/Event.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOption.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventJoin.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/Vote.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Group.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupJoin.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupJoinRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
  pic-domain/src/test/kotlin/com/mashup/pic/domain/group/GroupServiceTest.kt
Labels: refactor

#49 feat: View group list business logic
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/GroupViewStatus.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupDetailResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/util/GroupViewStatusUtil.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/Event.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOptionRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventStatus.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventTransaction.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/UploadService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/VoteService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupJoinRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/Result.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/ResultDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/ResultService.kt
Labels: feature
