Repository mash-up-kr/gabbangzip-spring, pull requests merged in 2024-06, with the labels that each got.

#4 feat: Add CODEOWNERS and PR, Issue setteings
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yaml
  .github/workflows/assign-author.yaml
  .github/workflows/assign-label.yaml
Labels: enhancement

#2 Jackson2 ObjectMapper Builder 재정의
  pic-api/src/main/kotlin/com/mashup/pic/config/JacksonConfig.kt
Labels: feature

#3 feat: 카카오 로그인 구현
  build.gradle.kts
  gradle.properties
  pic-api/build.gradle.kts
  pic-api/src/main/kotlin/com/mashup/pic/PicApplication.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/AuthApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/dto/LoginServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/AuthController.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SecurityConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/AuthToken.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/JwtAuthentication.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/UserInfo.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/handler/HttpStatusAccessDeniedHandler.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/handler/HttpStatusAuthenticationEntryPoint.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtFilter.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtManager.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/IdTokenValidator.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/KakaoIdTokenValidator.kt
  pic-api/src/main/resources/application-domain.yaml
  pic-api/src/main/resources/application.yaml
  pic-common/src/main/kotlin/com/mashup/pic/common/exception/PicExceptionType.kt
  pic-domain/build.gradle.kts
  pic-domain/src/main/kotlin/com/mashup/pic/domain/common/BaseEntity.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/User.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserRole.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
  pic-external/build.gradle.kts
  pic-external/src/main/kotlin/com/mashup/pic/external/common/JwksClient.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/common/response/JwksResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/config/RestClientConfig.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoJwksClient.kt
Labels: enhancement, feature

#6 feat: Write github workflows for CI & CD
  .github/workflows/cd.yaml
  .github/workflows/pr.yaml
  build.gradle.kts
  deploy/Dockerrun.aws.json
  pic-api/build.gradle.kts
  settings.gradle.kts
Labels: feature

#8 feat: Swagger setting hoho
  gradle.properties
  pic-api/build.gradle.kts
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/AuthController.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SecurityConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SwaggerConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/health/HealthCheckController.kt
  pic-common/src/main/kotlin/com/mashup/pic/constant/Constant.kt
Labels: feature

#9 feat: Apply jasypt hoho
  build.gradle.kts
  gradle.properties
  pic-api/src/main/resources/application-domain.yaml
  pic-api/src/main/resources/application.yaml
  pic-common/src/main/kotlin/com/mashup/pic/config/JasyptConfig.kt
  pic-common/src/test/kotlin/com/mashup/pic/SharedContext.kt
  pic-common/src/test/kotlin/com/mashup/pic/config/JasyptConfigTest.kt
Labels: feature

#11 Increase health check time
  .github/workflows/cd.yaml
Labels: feature

#10 Apply ktlint kikkik
  .editorconfig
  .github/workflows/pr.yaml
  build.gradle.kts
  gradle.properties
  pic-api/build.gradle.kts
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/AuthApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/dto/LoginServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/AuthController.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/common/ApiExceptionHandler.kt
  pic-api/src/main/kotlin/com/mashup/pic/common/ApiResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/JacksonConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SecurityConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SwaggerConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/AuthToken.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/JwtAuthentication.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/UserInfo.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/handler/HttpStatusAccessDeniedHandler.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/handler/HttpStatusAuthenticationEntryPoint.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtFilter.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtManager.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/IdTokenValidator.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/KakaoIdTokenValidator.kt
  pic-common/build.gradle.kts
  pic-common/src/main/kotlin/com/mashup/pic/common/exception/PicException.kt
  pic-common/src/main/kotlin/com/mashup/pic/common/exception/PicExceptionType.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/common/BaseEntity.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/User.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserRole.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/common/JwksClient.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/common/response/JwksResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/config/RestClientConfig.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoJwksClient.kt
Labels: feature

#13 fix: Fix broken workflow
  .github/workflows/cd.yaml
  pic-api/build.gradle.kts
  pic-domain/src/main/kotlin/com/mashup/pic/domain/common/BaseEntity.kt
Labels: feature

#7 feat: Add refresh token process
  gradle.properties
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/AuthApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/dto/ReissueServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/AuthController.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/ReissueRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/ReissueResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtManager.kt
  pic-api/src/main/resources/application-domain.yaml
  pic-api/src/main/resources/application.yaml
  pic-domain/build.gradle.kts
  pic-domain/src/main/kotlin/com/mashup/pic/domain/auth/RefreshToken.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/auth/RefreshTokenRepository.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/auth/RefreshTokenService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/config/RedisConfig.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
  pic-external/build.gradle.kts
  pic-external/src/main/kotlin/com/mashup/pic/external/common/response/JwksResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoJwksClient.kt
Labels: feature

#14 feat: Write user delete mock API
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/UserController.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/dto/DeleteUserResponse.kt
Labels: feature

#15 refactor: Add UserDto and Swagger OpenApiCustomizer
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/AuthApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/AuthController.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SwaggerConfig.kt
  pic-common/src/main/kotlin/com/mashup/pic/common/exception/PicExceptionType.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/auth/RefreshToken.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
Labels: refactor

#16 feat: Create event mock api
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/EventController.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/dto/CreateEventRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/dto/CreateEventResponse.kt
Labels: feature

#17 feat: Write withdraw web page with APIs
  pic-api/build.gradle.kts
  pic-api/src/main/kotlin/com/mashup/pic/config/SecurityConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/KakaoIdTokenValidator.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/applicationService/UserApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/UserController.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/UserPageController.kt
  pic-api/src/main/resources/application.yaml
  pic-api/src/main/resources/templates/complete.html
  pic-api/src/main/resources/templates/error.html
  pic-api/src/main/resources/templates/login.html
  pic-api/src/main/resources/templates/withdraw.html
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoClient.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoJwksClient.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/dto/KakaoTokenInfoResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/dto/KakaoTokenResponse.kt
Labels: feature

#23 feat: Fix ktlint configs
  .editorconfig
  pic-api/build.gradle.kts
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/AuthApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/dto/LoginServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/applicationService/dto/ReissueServiceRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/AuthController.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/LoginResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/ReissueRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/auth/controller/dto/ReissueResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/common/ApiExceptionHandler.kt
  pic-api/src/main/kotlin/com/mashup/pic/common/ApiResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SecurityConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/config/SwaggerConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/controller/EventController.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/dto/CreateEventRequest.kt
  pic-api/src/main/kotlin/com/mashup/pic/event/dto/CreateEventResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/AuthToken.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/authentication/UserInfo.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/handler/HttpStatusAccessDeniedHandler.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/handler/HttpStatusAuthenticationEntryPoint.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtFilter.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/jwt/JwtManager.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/IdTokenValidator.kt
  pic-api/src/main/kotlin/com/mashup/pic/security/oidc/KakaoIdTokenValidator.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/applicationService/UserApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/UserController.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/UserPageController.kt
  pic-api/src/main/kotlin/com/mashup/pic/user/controller/dto/DeleteUserResponse.kt
  pic-common/src/main/kotlin/com/mashup/pic/common/exception/PicException.kt
  pic-common/src/main/kotlin/com/mashup/pic/common/exception/PicExceptionType.kt
  pic-common/src/test/kotlin/com/mashup/pic/config/JasyptConfigTest.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/auth/RefreshToken.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/auth/RefreshTokenService.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/config/RedisConfig.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/User.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserDto.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserRole.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserService.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/common/response/JwksResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/KakaoClient.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/dto/KakaoTokenInfoResponse.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/kakao/dto/KakaoTokenResponse.kt
Labels: feature, fix

#18 feat: Implement mock api of creating group
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/GroupApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/dto/GroupResponseDto.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/applicationservice/dto/GroupServiceRequestDto.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/GroupRequestDto.kt
Labels: feature

#26 feat: Create tmp api for develop
  pic-api/src/main/kotlin/com/mashup/pic/develop/TestController.kt
Labels: feature

#19 feat: View group list, detail mock API
  pic-api/src/main/kotlin/com/mashup/pic/config/SecurityConfig.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/GroupViewController.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupDetailResponse.kt
  pic-api/src/main/kotlin/com/mashup/pic/group/controller/dto/ViewGroupResponse.kt
Labels: feature

#27 chore: profile phase 분리
  .github/workflows/cd.yaml
  pic-api/src/main/resources/application-domain.yaml
  pic-api/src/main/resources/application.yaml
Labels: chore

#24 feat: Create Entities
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/Event.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventImageOption.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventJoin.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/EventTransaction.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/event/Vote.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Group.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/GroupJoin.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Keyword.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/Frame.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/result/Result.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/Provider.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/User.kt
  pic-domain/src/main/kotlin/com/mashup/pic/domain/user/UserDto.kt
Labels: feature

#25 feat: presigned url
  gradle.properties
  pic-api/src/main/kotlin/com/mashup/pic/file/applicationservice/FileApplicationService.kt
  pic-api/src/main/kotlin/com/mashup/pic/file/controller/FileController.kt
  pic-api/src/main/kotlin/com/mashup/pic/file/controller/dto/UploadUrlResponse.kt
  pic-api/src/main/resources/application.yaml
  pic-external/build.gradle.kts
  pic-external/src/main/kotlin/com/mashup/pic/external/aws/AwsConfig.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/aws/s3/S3Config.kt
  pic-external/src/main/kotlin/com/mashup/pic/external/aws/s3/S3Service.kt
Labels: feature

#30 fix: Fix broken cd
  .github/workflows/cd.yaml
  pic-api/build.gradle.kts
Labels: feature, fix

#31 fix: Fix broken cd
  deploy/Dockerrun.aws.json
Labels: feature, fix

#33 fix: Fix broken cd
  pic-api/src/main/resources/application-domain.yaml
Labels: feature, fix

#34 fix: Rename group table
  pic-domain/src/main/kotlin/com/mashup/pic/domain/group/Group.kt
Labels: fix
